/* Home.css */
.hero-layout {
  height: 100vh;
  background: url("https://img.freepik.com/free-photo/students-collaborating-textbook_23-2147656059.jpg?t=st=1726843431~exp=1726847031~hmac=a2dcd47abf420f94dfd264702f421e2c3237cd031cc61c904a7dfd955473afb4&w=1060")
    center/cover no-repeat;
  color: white;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 40px;
}

.hero-buttons .ant-btn-primary {
  background-color: #007bff;
  padding: 25px 50px;
}

.hero-buttons .ant-btn-default {
  border-color: white;
  color: white;
  padding: 25px 50px;
}

/* Highlight component css starts  */
.highlights {
  background: linear-gradient(135deg, #4a90e2, #50e3c2);
  background-size: 200% 200%;
  animation: gradientAnimation 10s ease infinite;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.highlight-container h1{
    margin: 0;
}
.highlight-content{
    margin: 30px 20px;
}
@keyframes gradientAnimation {
  0% {
    background: linear-gradient(
      135deg,
      #4a90e2,
      #50e3c2
    ); /* Blue to Green Gradient */
  }
  50% {
    background: linear-gradient(
      135deg,
      #50e3c2,
      #4a90e2
    ); /* Green to Blue Gradient */
  }
  100% {
    background: linear-gradient(
      135deg,
      #4a90e2,
      #50e3c2
    ); /* Blue to Green Gradient */
  }
}
