/* Home.css */
.hero-layout {
  height: 100vh;
  color: white;
  text-align: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
}

.hero-text h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.hero-text p {
  font-size: 1.3rem;
  color: #fff;
  margin-bottom: 40px;
}

.hero-buttons .ant-btn-primary {
  background-color: #007bff;
  padding: 25px 50px;
}

.hero-buttons .ant-btn-default {
  border-color: white;
  color: white;
  padding: 25px 50px;
}

/* Highlight component css starts  */
.highlights {
  background-color: #1677ff;
  background-size: 200% 200%;
  text-align: center;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.highlight-container h1 {
  margin: 0;
}
.highlight-content {
  margin: 30px 20px;
}

/* Features.css */
.features-section {
  padding: 60px 100px;
  background-color: #f0f2f5;
  text-align: center;
}

.features-heading {
  font-size: 36px;
  color: #001529;
  margin-bottom: 20px;
}

.features-subtitle {
  font-size: 18px;
  color: #555;
  margin-bottom: 40px;
}

.features-cards .ant-card {
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.feature-card p {
  font-size: 16px;
  color: #333;
}

.feature-icon {
  font-size: 48px;
  color: #007bff;
  margin: 20px 0;
}

/* Home.css */

/* Centering the content inside the slide */
.slide-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.slide-content {
  padding: 50px;
}

.left-section {
  padding: 20px;
}

.right-section .student-image {
  width: 100%;
  max-width: 400px;
}

/* FAQ Component css */
.faq-section {
  background-color: #f7f9fc; /* Light background to contrast with footer */
  padding: 50px;
  text-align: left;
}

.faq-heading {
  color: #333;
  text-align: center;
}

.faq-intro {
  margin-bottom: 20px;
  color: #555;
  text-align: center;
}

.ant-collapse-header {
  font-weight: bold;
  font-size: 16px;
  color: #0c3c78;
}

.ant-collapse-content-box {
  font-size: 14px;
  color: #444;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(
      135deg,
      #4a90e2,
      #50e3c2
    ); /* Blue to Green Gradient */
  }
  50% {
    background: linear-gradient(
      135deg,
      #50e3c2,
      #4a90e2
    ); /* Green to Blue Gradient */
  }
  100% {
    background: linear-gradient(
      135deg,
      #4a90e2,
      #50e3c2
    ); /* Blue to Green Gradient */
  }
}
