.job-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--vertical-padding) min(50px,var (--section-padding)) 5rem;
  color: darkgreen
}
#search-box-ehub {
  width: 21.87rem;
  height: 2.25rem;
  background-color: aliceblue;
  padding-left: 50px;
  border-radius: 9999px;
  border: 2px solid rgb (84, 113, 120);
  min-width: 0px;
}