/* src/pages/MainLayout.css */

.Menu-links .ant-menu-item-selected {
  background-color: #2baffc !important; /* Customize the background color */
  color: #fff !important; /* Customize the text color */
}

.Menu-links .ant-menu-item:hover {
  background-color: #e6f7ff; /* Background color on hover */
  color: #1890ff; /* Text color on hover */
}

.menu-link {
  color: #2baffc; /* Default text color */
}

.menu-link:hover {
  color: #1890ff; /* Text color on hover */
}
